<a href="https://colab.research.google.com/github/RUMONMD89/Data-science-with-R-Language/blob/main/ADS5_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Chapter 5
bank <- read.csv("bank-additional.csv")

set.seed(7)

n <- dim(bank)[1]
train_ind  <- runif(n) < 0.75
bank_train <- bank[train_ind, ]
bank_test  <- bank[!train_ind, ]

dim(bank)

[1] 4119   21

In [ ]:
names(bank_train)

 [1] "age"            "job"            "marital"        "education"
 [5] "default"        "housing"        "loan"           "contact"
 [9] "month"          "day_of_week"    "duration"       "campaign"
[13] "pdays"          "previous"       "poutcome"       "emp.var.rate"
[17] "cons.price.idx" "cons.conf.idx"  "euribor3m"      "nr.employed"
[21] "response"

In [ ]:
length(bank_train$response)
table(bank_train$response)

[1] 3103

  no  yes
2767  336

In [ ]:
length(bank_test$response)
table(bank_test$response)

[1] 1016

 no yes
901 115

In [ ]:
to.resample  <- which(bank_train$response == "yes")
our.resample <- sample(x = to.resample, size = 850, replace = TRUE)
our.resample <- bank_train[our.resample, ]
train_bank_rebal <- rbind(bank_train, our.resample)

t.v1 <- table(train_bank_rebal$response)
t.v2 <- rbind(t.v1, round(prop.table(t.v1), 4))
colnames(t.v2) <- c("Response = No", "Response = Yes")
rownames(t.v2) <- c("Count", "Proportion")
t.v2

           Response = No Response = Yes
Count      2767.0        1186.0
Proportion    0.7           0.3