<a href="https://colab.research.google.com/github/RUMONMD89/Data-science-with-R-Language/blob/main/ADS7REV_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##Chapter 7
install.packages("C50")

clothing_train <- read.csv("clothing_data_driven_training.csv")
clothing_test  <- read.csv("clothing_data_driven_test.csv")

library(C50)

clothing_train$Response <- factor(clothing_train$Response)
C5 <- C5.0(Response ~ Days.since.Purchase + Number.of.Purchase.Visits + Sales.per.Visit, data = clothing_train)

test.X <- subset(x = clothing_test, select = c("Days.since.Purchase", "Number.of.Purchase.Visits", "Sales.per.Visit"))

ypred <- predict(object = C5, newdata = test.X)

t1 <- table(clothing_test$Response, ypred)
row.names(t1) <- c("Actual: 0", "Actual: 1")
colnames(t1) <- c("Predicted: 0", "Predicted: 1")
t1 <- addmargins(A = t1, FUN = list(Total = sum), quiet = TRUE)
t1

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘plyr’, ‘Rcpp’, ‘reshape2’, ‘libcoin’, ‘mvtnorm’, ‘Formula’, ‘inum’, ‘Cubist’, ‘partykit’

           ypred
            Predicted: 0 Predicted: 1 Total
  Actual: 0  9173        441           9614
  Actual: 1  1396        544           1940
  Total     10569        985          11554

In [2]:
cost.C5 <- matrix(c(0, 4, 1, 0), byrow = TRUE, ncol = 2)
dimnames(cost.C5) <- list(c("0", "1"), c("0", "1"))

C5.costs <- C5.0(Response ~ Days.since.Purchase + Number.of.Purchase.Visits + Sales.per.Visit, data = clothing_train, costs = cost.C5)

ypred <- predict(object = C5.costs, newdata = test.X)

t1 <- table(clothing_test$Response, ypred)
row.names(t1) <- c("Actual: 0", "Actual: 1")
colnames(t1) <- c("Predicted: 0", "Predicted: 1")
t1 <- addmargins(A = t1, FUN = list(Total = sum), quiet = TRUE)
t1

           ypred
            Predicted: 0 Predicted: 1 Total
  Actual: 0 7163         2451          9614
  Actual: 1  618         1322          1940
  Total     7781         3773         11554

In [3]:
cost.C5 <- matrix(c(0, 11.358, 1, 0), byrow = TRUE, ncol = 2)
dimnames(cost.C5) <- list(c("0", "1"), c("0", "1"))

C5.costs <- C5.0(Response ~ Days.since.Purchase + Number.of.Purchase.Visits + Sales.per.Visit, data = clothing_train, costs = cost.C5)

ypred <- predict(object = C5.costs, newdata = test.X)

t1 <- table(clothing_test$Response, ypred)
row.names(t1) <- c("Actual: 0", "Actual: 1")
colnames(t1) <- c("Predicted: 0", "Predicted: 1")
t1 <- addmargins(A = t1, FUN = list(Total = sum), quiet = TRUE)
t1

           ypred
            Predicted: 0 Predicted: 1 Total
  Actual: 0 4237         5377          9614
  Actual: 1  201         1739          1940
  Total     4438         7116         11554